:root {
  color-scheme: light dark;
  background-color: #1e1e1e;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar .right {
  font-size: 1.5em;
  padding-right: 10px;
}

.navbar {
  background-color: #2e2e2e;
}

.dropdown {
  padding: 5px;
}

.dropdown p {
  padding-left: 10px;
  font-size: 1.5em;
}

.dropdown img {
  height: 2em;
}

.dropdown.button {
  font-size: 1.5em;
}

.dropdown.menu {
  border-radius: .5em;
  background-color: #2a2a2a;
  border: 0.15em solid #e48ac7;
}

.dropdown.item {
  border-radius: .5em;
  padding: 10px;
  z-index: 1;
}

.dropdown.item:hover {
  background-color: #e48ac7;
  transition: .3s;
}

.dropdown.item:active {
  background-color: #b25c96;
  transition: .2s;
}

.gradient-pink {
  background: radial-gradient(#cc74b0, #e48ac7, #f9b1df, #f490d2, #ffe6f4);
  background-size: 300px 400px;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: sliding-gradient 10s linear infinite;
}

.gradient-blue {
  background: radial-gradient(#3091cc, #73cbff, #4bb6f0, #9edaff, #c8e9ff);
  background-size: 75px 100px;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: sliding-gradient 40s linear infinite;
}


@keyframes sliding-gradient {
  to {
    background-position: 600px 800px;
  }
}
