@import "tailwindcss";
@plugin "daisyui" {
  themes: garden --default, dracula --prefersdark
}

@plugin "daisyui/theme" {
  name: "dracula";
  --depth: 1;
}

@plugin "daisyui/theme" {
  name: "garden";
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

:root {
  background-color: var(--color-base-200);
}
